:root {
    --main-background: hsl(233, 47%, 7%);
    --card-background: hsl(244, 38%, 16%);
    --accent: hsl(277, 64%, 61%);
    --main-heading: hsl(0, 0%, 100%);
    --main-paragraph: hsla(0, 0%, 100%, 0.75);
    --stat-headings: hsla(0, 0%, 100%, 0.6);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-image {
    background-image: url("./images/image-header-desktop.jpg");
    background-color: hsla(277, 64%, 61%, 0.842);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 225px;
    border-radius: 8px 8px 0 0;
}


body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-background);
    font-family: 'Inter', sans-serif;
    color: var(--main-heading);
    font-size: 15px;
    padding: 30px;
}


.main-content {
    background-color: var(--card-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    max-width: 325px;
    text-align: center;
    border-radius: 8px;
}

.text-section {
    padding: 2em;
}

.insights {
    padding-bottom: 2em;
    color: var(--accent);
}

.Discover {
    color: var(--main-paragraph);
}

.stats-section {
    display: flex;
    flex-direction: column;
}

.stats-companies {
    font-size: 1.5em;
    font-weight: 700;
    padding-bottom: 1em;
}

.stats-templates {
    font-size: 1.5em;
    font-weight: 700;
    padding-bottom: 1em;
}

.stats-queries {
    font-size: 1.5em;
    font-weight: 700;
    padding-bottom: 1em;
}


.stats-word {
    display: block;
    font-family: 'Lexend Deca', sans-serif;
    text-transform: uppercase;
    font-size: 0.5em;
    color: var(--main-paragraph);
    padding-top: 0.5em;
}


@media screen and (min-width: 800px) {
    .main-content {
        flex-direction: row-reverse;
        max-width: 800px;
        text-align: left;
    }

    .Discover {
        padding-bottom: 4em;
    }

    .stats-section {
        flex-direction: row;
        gap: 50px;
    }

    .main-image {
        background-image: url("./images/image-header-mobile.jpg");
        border-radius: 0 8px 8px 0;
        height: 310px;
        width: 1000px;
    }
}